@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: 'product_sans_regular';
    src: url("assets/fonts/product-sans/ProductSans-Regular.woff") format("woff"), url("assets/fonts/product-sans/ProductSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'product_sans_bold';
    src: url("assets/fonts/product-sans/ProductSans-Bold.woff") format("woff"), url("assets/fonts/product-sans/ProductSans-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'product_sans_italic';
    src: url("assets/fonts/product-sans/ProductSans-Italic.woff") format("woff"), url("assets/fonts/product-sans/ProductSans-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'product_sans_bold_italic';
    src: url("assets/fonts/product-sans/ProductSans-BoldItalic.woff") format("woff"), url("assets/fonts/product-sans/ProductSans-BoldItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; 
}

/* Simple CSS reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'product_sans_regular';
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.app {
    max-width: 1600px;
    min-width: 768px;
    text-align: left;
    margin: 0px auto;
    position: relative;
}